[*.{ts, tsx, js, jsx. mjs, json, cjs}]
indent_style = space
indent_size = 2


[**/*.{ts, tsx, js, jsx. mjs, json, cjs}]
indent_style = space
indent_size = 2

[**/**/*.{ts, tsx, js, jsx. mjs, json, cjs}]
indent_style = space
indent_size = 2
