<!-- Section start -->
<h2 class="text-lg font-semibold text-gray-800">Address Details</h2>
<h4 class="text-md font-semibold text-gray-500">Your Current Address</h4>
<div class="space-y-2">
  <label for="af-submit-app-flat-building" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
    Flat No and Building Name.
  </label>

  <input id="af-submit-app-flat-building" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="A/001 ABC Society pvt ltd.">
</div>

<div class="space-y-2">
  <label for="af-submit-area" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
    Area
  </label>

  <input id="af-submit-area" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="xyz nagar">
</div>

<div class="space-y-2">
  <label for="af-submit-landmark" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
    landmark
  </label>

  <input id="af-submit-landmark" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="xyz nagar">
</div>

<div class="space-y-2">
  <label for="state" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
    State
  </label>

  <select id="state" name="state" class="py-2 px-3 pe-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
    <option selected>Select District</option>
    <option>Finance</option>
    <option>Marketplace</option>
    <option>Social</option>
    <option>Others</option>
  </select>
</div>
<!-- Section start -->

<div class="space-y-2">
  <label for="district" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
    District
  </label>

  <select id="district" name="district" class="py-2 px-3 pe-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
    <option selected>Select District</option>
    <option>Finance</option>
    <option>Marketplace</option>
    <option>Social</option>
    <option>Others</option>
  </select>
</div>
<!-- Section start -->

<div class="space-y-2">
  <label for="city" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
    City
  </label>

  <input id="city" name="city" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="">
</div>

<div class="space-y-2">
  <label for="pincode" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
   Pincode 
  </label>

  <input id="pincode" name="pincode" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="">
</div>
